body{
  margin: 0px;
}

a{
    text-decoration: none;
  }
  
  header{
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-bottom: 1px solid rgb(214, 214, 214);
    background: linear-gradient(90deg, rgba(27,5,107,1) 0%, rgba(5,6,100,1) 73%, rgba(50,6,122,1) 100%);
  }
  
    .logo{
      justify-content: left;
      width: 150px;
      margin-left: 20px;
    }
  
  
    ul {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      list-style-type: none;
  
    }
  
    ul li {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  
    ul li a {
      color: rgb(255, 255, 255);
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
    }
  
    .botones {
      display: flex;
      justify-content: flex-end;
      width: 1000px;
      gap: 12px;
      
    }
  
    .botones button {
      width: 130px;
      height: 50px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 115%;
    }
  
      .signIn {
        background: linear-gradient(90deg, rgba(27,5,107,1) 0%, rgba(5,6,100,1) 73%, rgba(50,6,122,1) 100%);
        border: 2px solid rgb(202, 202, 202);
        color: #ffffff;
      }
  
      .signIn:hover {
        background-color: #e5e5e5;
      }
  
      .getStarted {
        background-color: #ffffff;
        border: none;
        color: #4285f4;
      }
  
      .getStarted:hover {
        background-color: #357ae8;
      }

      #title {
        background: linear-gradient(180deg, rgba(27,5,107,1) 0%, rgba(27,5,107,1) 73%, rgba(122,6,116,0.34226190476190477) 100%);
      }

      .logoTitle {
        padding-top: 3%;
        display: flex;
        justify-content: center;
      }

      .textoTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .textoTitle h2 {
        text-align: center;
        color: #fff;
        font-size:450%
      }

      #title button {
        background: linear-gradient(94deg, rgba(203,174,238,1) 31%, rgba(233,176,148,1) 100%);
        border: 2px solid rgb(202, 202, 202);
        color: #000000;
        width: 250px;
        height: 60px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 105%;
      }

      .buttonTitle {
        display: flex;
        justify-content: center;
      }
      .textoTitle p {
        text-align: center;
        color: #fff;
        font-size:150%
      }

      #body1 p {
        text-align: center;
        background: linear-gradient(rgb(14, 5, 65),rgb(119, 169, 213));
          -webkit-background-clip: text; /* Esto es para aplicarle el degradado solo al texto*/
          color: transparent;  
          font-size:150%
      }

      #body1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      #body1 h2 {
        text-align: center;
        color: #000000;
        font-size:350%
      }

      #body1 > div > #texto {
        text-align: center;
        font-size: 125%;
        color: #000000;
    }
    
    .botones2 {
      display: flex;
      justify-content: flex-end;
      width: 1000px;
      gap: 12px;
      
    }
  
    .botones2 button {
      width: 130px;
      height: 50px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 115%;
    }
    
    .build {
      background: linear-gradient(90deg, rgb(55, 0, 255) 0%, rgb(55, 0, 255) 73%, rgb(55, 0, 255) 100%);
      border: 2px solid rgb(232, 230, 230);
      color: #ffffff;
    }
    .share {
      background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 73%, rgb(255, 255, 255) 100%);
      border: 2px solid rgb(196, 194, 194);
      color: #000000;
    }
    .run {
      background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 73%, rgb(255, 255, 255) 100%);
      border: 2px solid rgb(196, 194, 194);
      color: #000000;
    }
    .verify {
      background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 73%, rgb(255, 255, 255) 100%);
      border: 2px solid rgb(196, 194, 194);
      color: #000000;
    }
